<!DOCTYPE html>
<html>
<head>
    <title>Audio Transcriber</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body {
            padding-top: 20px;
        }
        .container {
            max-width: 600px;
        }
        #memoBox {
            width: 100%;
            margin-top: 10px;
        }
        #recordButton {
            width: 100%;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <h1>Audio Transcriber</h1>
        <button id="recordButton" class="btn btn-primary">Record</button>
        <textarea id="memoBox" rows="10" class="form-control"></textarea>
    </div>

    <script>
        $(document).ready(function() {
            let isRecording = false;
            let mediaRecorder;
            let audioChunks = [];

            $("#recordButton").click(function() {
                if (!isRecording) {
                    // Clear the memoBox when recording starts
                    $("#memoBox").val('');
                    navigator.mediaDevices.getUserMedia({ audio: true })
                        .then(stream => {
                            mediaRecorder = new MediaRecorder(stream);
                            mediaRecorder.start();

                            mediaRecorder.addEventListener("dataavailable", event => {
                                audioChunks.push(event.data);
                            });

                            mediaRecorder.addEventListener("stop", () => {
                                const audioBlob = new Blob(audioChunks);
                                sendDataToServer(audioBlob);
                                audioChunks = [];
                            });

                            this.textContent = 'Stop';
                            isRecording = true;
                        });
                } else {
                    mediaRecorder.stop();
                    this.textContent = 'Record';
                    isRecording = false;
                }
            });

            function sendDataToServer(blob) {
                let formData = new FormData();
                formData.append("audio_data", blob);

                $.ajax({
                    type: "POST",
                    url: "/upload ",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        $("#memoBox").val(response.transcription);
                    },
                    error: function() {
                        alert("Error in sending data to server.");
                    }
                });
            }
        });
    </script>
</body>
</html>
